<div class="row">

  <div class="card col-12 col-md-3" *ngFor="let item of allCantidades">
    <!-- <img class="card-img-top" src="https://dummyimage.com/600x400/000/fff" alt="Card image cap"> -->
    <div class="card-body">
      <h4 class="card-title">{{ nombreProducto(item['idProduct']) }}</h4>
      <p class="card-text">Stock: {{ item['quantityInStock'] }}</p>
      <p class="card-text">Comprar: {{ item['quantityToBuy'] }}</p>
      <!-- <a href="#!" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

</div>